.content {
  position: absolute;
  left: $content-left;
  width: calc( 100% - #{ $content-left + $vsep-width } );
  min-width: 32em;
  max-width: 48em;
  height: calc( 100% - 4em );
  padding: 2em 0;

  .sep {
    position: relative;
    margin: 1em 0;
    width: 100%;
    height: 1px;

    background: #999;
  }

  .head {
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin: -0.2em 0;
  }

  strong {
    background: #fbd;
  }

  @import 'content-top';
  @import 'content-projects';
}
