body {
  margin: 0;
  padding: 0;

  background: $color-bg;
  color: $color-fg;
  font: 200 16px/1.5 "Helvetica Neue", "ヒラギノ角ゴシック", sans-serif;

  height: 100%;
}

a {
  color: #37b;
  text-decoration: none;

  &:hover {
    color: #59d;
  }

  &:active {
    color: #359;
  }
}

.vsepbg {
  position: fixed;
  left: $side-left + $side-width;
  width: $vsep-width;
  height: 100%;

  background: $color-bg;

  .vsep {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 1px;
    height: calc( 100% - 2em );

    background: #999;
  }
}

#container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  @import 'side';
  @import 'content';
}
